<div class="container">
    <div class="column">
        <div class="col-md-6 col-12">
            <div class="name">
                Janusz Kowalski
            </div><br>

            <div class="name1">
                Właściciel firmy
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="tel"><i class="fas fa-mobile-alt"></i>+48 606 009 545
            </div><br>

            <div class="email"><i class="fas fa-envelope"></i>choroszcz.szpital@onet.pl
            </div>
        </div>
    </div>
</div>

<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12146.17250477049!2d22.97599036760162!3d53.150275164748706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471fe5837164f28b%3A0x97621fc7518a7d06!2sSzpital%20Psychiatryczny!5e0!3m2!1spl!2spl!4v1698855365983!5m2!1spl!2spl"
        width="1000" height="500" style="border:0,;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>